.myWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 10%;
}

.myWork-title {
    position: relative;
    text-align: center;
}

.myWork-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.myWork-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.myWork-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
}

.myWork-container img {
    width: 100%;
    height: 280px; /* Fixed height */
    max-width: 419px; /* Fixed width */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    transition: 0.3s;
    cursor: pointer;
}

.myWork-container img:hover {
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}

.mywork-showmore {
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}

.mywork-showmore:hover {
    gap: 30px;
    transition: 0.6s;
}

/* Responsive styles */
@media (max-width: 768px) {
    .myWork {
        margin: 80px 20px;
    }

    .myWork-title h1 {
        font-size: 60px;
    }

    .myWork-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .myWork-container img {
        width: 100%;
        height: 280px; /* Fixed height for consistency */
    }

    .mywork-showmore {
        font-size: 18px;
        padding: 20px 40px;
    }
}

@media (max-width: 480px) {
    .myWork-title h1 {
        font-size: 40px;
    }

    .myWork-container {
        grid-template-columns: 1fr;
    }

    .myWork-container img {
        width: 100%;
        height: 280px; /* Fixed height for consistency */
    }

    .mywork-showmore {
        font-size: 16px;
        padding: 15px 30px;
    }
}
